html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  //outline: 1px solid teal;
}

body {
  background-color: $background-white-color;
  color: $main-text-color;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
/*a {
  text-decoration: none;
}*/

p {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}

/*img {
  display: block;
  width: 100%;
  height: auto;
}*/

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}
