/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './base/base-components';
@import './layout/layout-components';
@import './utils/utils-components';
@import './layout/footer';
@import './layout/container';