html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #E5E5E5;
  color: #111518;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  padding: 10px 32px;
  border-width: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #FF6B09;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: #FF6B09;
  background-color: #E5E5E5;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  /*@include for-size(tablet-landscape) {
    display: none;
  }*/
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.logo {
  display: inline-block;
}

.menu-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-bottom: 0px;
    padding-top: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.title {
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
}

.title-white {
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.title-hero {
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
}

.title-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #FF6B09;
  margin: 0 0 10px;
}

.title-label:before {
  content: ' ';
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-right: 20px;
  margin-top: 7px;
}

* {
  margin: 0;
  padding: 0;
}

.program-section {
  padding: 50px 20px;
  background-color: #111518;
}

@media screen and (min-width: 768px) {
  .program-section {
    padding: 60px 40px;
  }
}

@media screen and (min-width: 1314px) {
  .program-section {
    width: 1314px;
  }
}

.program-container {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .program-container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .program-container {
    width: 768px;
  }
}

@media screen and (min-width: 1314px) {
  .program-container {
    width: 1314px;
  }
}

.program {
  list-style: none;
}

@media screen and (min-width: 1314px) {
  .program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.program-heading {
  text-align: center;
  padding-bottom: 43px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .program-heading {
    text-align: left;
  }
}

.program-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

.program::before {
  position: absolute;
  content: "";
  width: 1282px;
  height: 0px;
  left: 94px;
  border: 1px solid #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .program-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .description {
    margin-right: 83px;
  }
}

.program-paragraph {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.description-list {
  display: block;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1316px) {
  .container {
    width: 1316px;
  }
}

.title-hero {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 38px;
}

.grey-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}

.black-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #111518;
}

.orang-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: #FF6B09;
}

.free-lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 39px;
  margin-bottom: 60px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 260px;
  height: 48px;
  background: #FF6B09;
}

.title-icon {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #111518;
}

.conteiner-svg {
  border: 2px solid #FF6B09;
  border-right: none;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.conteiner-svg::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 10px;
  right: 0;
  top: -1px;
  background-color: #FF6B09;
}

.conteiner-svg::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 10px;
  right: 0;
  bottom: -1px;
  background-color: #FF6B09;
}

.icon-svg {
  fill: #FF6B09;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.section.problems {
  position: relative;
  height: 693px;
  margin-bottom: 50px;
}

.title-box {
  width: 100%;
  height: 545px;
  background: #111518;
  padding: 50px 20px;
  text-align: start;
}

.title-white {
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.title-white.modified {
  font-family: Montserrat;
  font-style: normal;
  margin: 0;
  padding-bottom: 27px;
}

.problems-help {
  color: #FF6B09;
}

.problems-box {
  position: absolute;
  top: 205px;
  left: 20px;
  right: 20px;
  width: calc 60%;
  padding-top: 20px;
  padding-right: 14px;
  padding-left: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.problem-list {
  display: block;
}

.problem-item:not(:last-child) {
  margin-bottom: 10px;
}

.problem-item > h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FF6B09;
  margin-top: 0;
  margin-bottom: 5px;
}

.problem-item > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
}

.training-margin {
  margin-top: 0;
  margin-bottom: 20px;
}

.training-list {
  display: block;
}

.training-item {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.training-item:hover, .training-item:focus {
  background-color: #FF6B09;
}

.training-item:hover .training-icon,
.training-item:focus .training-icon {
  fill: #FFFFFF;
}

.training-item:hover h3,
.training-item:focus h3 {
  color: #FFFFFF;
}

.training-item:hover p,
.training-item:focus p {
  color: #FFFFFF;
}

.training-item:not(:last-child) {
  margin-bottom: 15px;
}

.training-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.training-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 45px;
  height: 49px;
  fill: #FF6B09;
}

.training-icon:hover, .training-icon:focus {
  fill: #FFFFFF;
}

.hyphen {
  display: block;
  width: 165px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.hyphen > p {
  color: #FF6B09;
  margin: 0;
}

.training-item > h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  margin: 0;
}

.training-item > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  margin: 0;
}

.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.result-work {
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #B9B9B9;
}

.teacher-achievement-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #111518;
}

.teacher-achievement-item:not(:last-child) {
  margin-bottom: 14px;
}

.about-teacher {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #B9B9B9;
}

.about-teacher:not(:last-child) {
  margin-bottom: 14px;
}

.certificate-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #FF6B09;
}

.container-guarantee {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.guarantee-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #3d3d3d;
  margin-bottom: 20px;
}

.guarantee-list {
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-right: 112px;
  padding-left: 112px;
}

.separate-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  color: #ff6b09;
}

.container-reviews {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.review-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.reviews-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #3d3d3d;
}

.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.second-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.footer-registration {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
  -webkit-box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 767px) {
  .footer-registration {
    background-image: url(../images/mobile/footer/footer.png), url(../images/mobile/footer/background.png);
  }
}

@media screen and (min-width: 768px) {
  .footer-registration {
    background-image: url(../images/tablet/footer/footer.png), url(../images/tablet/footer/background.png);
  }
}

@media screen and (min-width: 1316px) {
  .footer-registration {
    background-image: url(../images/desktop/footer/footer.png), url(../images/desktop/footer/background.png);
  }
}

.registration {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .registration {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1315px) {
  .registration {
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1315px) {
  .registration {
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1316px) {
  .registration {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-contacts .footer-item > .logo {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.contacts {
  background-color: #FFFFFF;
  -webkit-box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  padding-top: 50px;
  padding-bottom: 50px;
}

.registration-tittle {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 130%;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .registration-tittle {
    font-size: 14px;
    line-height: 136%;
  }
}

@media screen and (min-width: 768px) {
  .registration-tittle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1316px) {
  .registration-tittle {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.registration-description {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .registration-description {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .registration-description {
    font-size: 14px;
    line-height: 1.214;
  }
}

@media screen and (min-width: 1316px) {
  .registration-description {
    font-size: 30px;
    line-height: 1.233;
    margin-bottom: 56px;
  }
}

.registration-form {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-field-footer {
  height: 48px;
  padding-left: 28px;
  background: transparent;
  border: 1px solid #FFFFFF;
}

@media screen and (max-width: 767px) {
  .input-field-footer {
    min-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .input-field-footer {
    min-width: 390px;
  }
}

@media screen and (min-width: 1316px) {
  .input-field-footer {
    min-width: 390px;
    height: 70px;
    padding-left: 40px;
  }
}

.input-field-footer:not(:last-child) {
  margin-bottom: 20px;
}

.input-field-footer::-webkit-input-placeholder {
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.08em;
}

.input-field-footer:-ms-input-placeholder {
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.08em;
}

.input-field-footer::-ms-input-placeholder {
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.08em;
}

.input-field-footer::placeholder {
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 1315px) {
  .input-field-footer::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.214;
  }
  .input-field-footer:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.214;
  }
  .input-field-footer::-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.214;
  }
  .input-field-footer::placeholder {
    font-size: 14px;
    line-height: 1.214;
  }
}

@media screen and (min-width: 1316px) {
  .input-field-footer::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
  .input-field-footer:-ms-input-placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
  .input-field-footer::-ms-input-placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
  .input-field-footer::placeholder {
    font-size: 20px;
    line-height: 1.2;
  }
}

.input-field-footer:hover, .input-field-footer:focus {
  border-radius: 2px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-item .logo {
  width: 84px;
  height: 30px;
}

.icon-instagram {
  margin: 0;
  width: 40px;
  height: 40px;
}

.btn-submit {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
  background-color: #FF6B09;
  color: #FFFFFF;
  border: 0;
}

@media screen and (max-width: 1315px) {
  .btn-submit {
    min-width: 260px;
    height: 48px;
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1316px) {
  .btn-submit {
    min-width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
  }
}

.copyright {
  background-color: #111518;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #B9B9B9;
}

@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
  }
}

.color-accent-text {
  color: #FF6B09;
}

.phone-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #111518;
  font-weight: 600;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 767px) {
  .phone-link {
    font-size: 14px;
    line-height: 1.214;
  }
}

@media screen and (min-width: 768px) {
  .phone-link {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1316px) {
  .phone-link {
    font-size: 30px;
    line-height: 1.233;
  }
}

.phone-link:hover, .phone-link:focus {
  color: #FF6B09;
}

.icon-phone {
  fill: #FF6B09;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .icon-phone {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .icon-phone {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1316px) {
  .icon-phone {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */