$main-text-color: #111518;
$secondary-text-color: #b9b9b9;
$white-text-color: #ffffff;
$accent-color: #ff6b09;
$additional-text-color: #3d3d3d;
$background-white-color: #ffffff;
$background-secondary-color: #e5e5e5;
$background-black-color: #111518;
$background-gray-color: #f1f1f1;

$time-transition-duration: 250ms;
$timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1);