$main-text-color:#111518;
$secondary-text-color:#B9B9B9;
$white-text-color:#FFFFFF;
$accent-color:#FF6B09;
$additional-text-color:#3D3D3D;
$background-white-color:#FFFFFF;
$background-secondary-color:#E5E5E5;
$background-black-color:#111518;
$background-gray-color:#F1F1F1;