<!--Футер-->
<footer id="free-education">
  <section class="section footer-registration" >
    <div class="container">
      <div class="registration">
        <h2 class="registration-tittle">Регистрация на 
          <span class="color-accent-text">бесплатную</span> телефонную 
          <span class="color-accent-text">консультацию</span> 
            по нюансам ЗНО по английскому языку</h2>
        <p class="registration-description">Оставь заявку на участие в
          <span class="color-accent-text">бесплатном занятии.</span>
        С вами свяжется консультант и ответит на вопросы</p>
        <form class="registration-form" autocomplete="on" id="free-education">
          <input class="input-field-footer" name="name" id="name" type="text" placeholder="Имя*" pattern="[A-Za-zА-Яа-яЁё]{3,20}" required>
          <input class="input-field-footer" name="phone" id="phone" type="tel" placeholder="Телефон*" pattern="[0-9]{10}" required>
          <button class="btn-submit" type="submit">хочу на бесплатное занятие</button>
        </form>
      </div>
    </section>
    <section class="contacts section">
      <div class="container">
        <div class="footer-contacts">
          <div class="footer-logo-box">
            <div class="logo">
              <div class="logo-box">
                <span class="logo-hell">Hell</span>
                <svg class="icon-fire" width="22" height="30">
                    <use href="./images/icons/sprite.svg#icon-fire"></use>
                </svg>
                <span class="logo-en">en</span>
              </div>
              <p class="logo-bottom-signature"><span class="logo-color-accent">Адский</span> английский</p>
            </div>
          </div>
          <div class="footer-item">
            <div class="phone-box">
              <a class="link phone-link" href="tel:380000000000" >
                <svg class="icon-phone" width="20" height="19">
                  <use href="./images/icons/sprite.svg#icon-phone"></use>
                </svg>
                +38 (000) 000 00 00
              </a>
            </div>
            <div class="instagram-box">
              <a class="instagram-link" href="https://instagram.com" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
                <img class="icon-instagram" src="./images/icons/instagram.svg" alt="Инстаграм">
              </a>
            </div>
          </div>
        </div>
    </section>
    <section class="copyright section">
      <div class="container">
        <span>&copy; Все права защищены, 2020</span>
      </div>
    </div>
  </section>
</footer>