<!--Футер-->
<footer>
  <section class="section footer-registration">
    <div class="container">
      <div class="registration">
        <h2 class="registration-tittle">Регистрация на 
          <span class="color-accent-text">бесплатную</span> телефонную 
          <span class="color-accent-text">консультацию</span> 
            по нюансам ЗНО по английскому языку</h2>
        <p class="registration-description">Оставь заявку на участие в 
          <span class="color-accent-text">бесплатном занятии.</span> 
          С вами свяжется консультант и ответит на вопросы</p>
        <form class="registration-form" autocomplete="off">
          <input class="input-field-footer" id="name" type="text" placeholder="Имя*">
          <input class="input-field-footer" id="phone" type="tel" placeholder="Телефон*">
        </form>
        <button class="btn-submit" type="submit">хочу на бесплатное занятие</button>
      </div>
    </section>
    <section class="contacts">
      <div class="footer-contacts">
        <ul class="list">
          <li class="footer-item">
            <img class="logo" src="./images/icons/logo.svg" alt="Логотип">
          </li>
          <li class="footer-item">
            <a href="tel:380000000000" class="phone-link">
              <svg class="icon-phone" width="20" height="20">
                <use href="./images/icons/sprite.svg#icon-phone"></use>
              </svg>
              +38 (000) 000 00 00
            </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="https://instagram.com" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
              <img class="icon-instagram" src="./images/icons/instagram.svg" alt="Инстаграм">
            </a>
          </li>
        </ul>
      </div>
    </section>
      <div class="copyright">
        <span>&copy; Все права защищены, 2019</span>
      </div>
    </div>
  </section>
</footer>