<section class="hero">
    <div class="conteiner">
      <div class="container-hero">

          <h1 class="title-hero">
           Комплексная<br> подготовка  к ВНО<br> по английскому<br>языку
          </h1>
      
          <p class="grey-title"> Просто не будет.</p> <div> <p class="black-title">Но ты гарантировано наберешь</p> <p class="orang-title">+25 баллов</p></div>
          <a class="free-lesson" href="#">хочу на бесплатное занятие</a> 
      </div>


<div class="container-hero">

</div>
<div class="icon-conteiner">
<ul class="icon-list list">

    <li class="icon-box">
      <div class="conteiner-svg">
          <svg class="icon-svg" width="34" height="39"><use href="./images/icons/sprite.svg#icon-student"></use></svg>
      </div>
     <h2 class="title-icon">Адаптированная авторская программа ВНО</h2>
    </li>
    <li class="icon-box">
        <div class="conteiner-svg">
            <svg class="icon-svg" width="40" height="41"><use href="./images/icons/sprite.svg#icon-mobile"></use></svg>
        </div>
        <h2 class="title-icon">Современные методики обучения</h2>
    </li>
    <li class="icon-box">
        <div class="conteiner-svg">
            <svg class="icon-svg" width="35" height="40"><use href="./images/icons/sprite.svg#icon-insurance"></use></svg>
        </div>
        <h2 class="title-icon">Финансовая гарантия результата</h2>
    </li>
</ul>
</div>
</div>
</section>
