<section class="hero section">
  <div class="container">
    <div class="flex-hero">
    <div class="container-hero">
      <h1 class="title-hero">
        Комплексная<br />
        подготовка к ВНО<br />
        по английскому<br />языку
      </h1>

      <p class="grey-title">Просто не будет.</p>
      <p class="black-title">Но ты гарантировано наберешь <span class="orang-title">+25 баллов</span></p>
      
    
      <a class="button free-lesson" href="#free-education">хочу на бесплатное занятие</a>
    </div>

    <div class="container-hero-fon">
        <picture class="fon-one">
            <source srcset="./images/desktop/hero/VNOduo.png 1x, ./images/desktop/hero/VNOduo@2x.png 2x"  media="(min-width: 1316px)/">
            <source srcset="./images/tablet/hero/VNOduo.png 1x, ./images/tablet/hero/VNOduo@2x.png 2x"  media="(min-width: 768px)/">
            <source srcset="./images/mobile/hero/VNOduo.png 1x, ./images/mobile/hero/VNOduo@2x.png 2x"  media="(max-width: 767px)/">
            <img src="./images/mobile/hero/VNOduo.png" alt="Школа" width="208">
        </picture>
        
       
        <picture class="fon">
            <source srcset="./images/desktop/hero/VNO.png 1x, ./images/desktop/hero/VNO@2x.png 2x" media="(min-width: 1316px)/">
            <source srcset="./images/tablet/hero/VNO.png 1x, ./images/tablet/hero/VNO@2x.png 2x" media="(min-width: 768px)/"> 
            <source srcset="./images/mobile/hero/VNO.png 1x, ./images/mobile/hero/VNO@2x.png 2x" media="(max-width: 767px)/">
            <img src="./images/mobile/hero/VNO.png" alt="Школа английского" width="178">
       </picture>
       
     
    </div>
</div>

    
    <div class="icon-conteiner">
      <ul class="icon-list list">
        <li class="icon-box">
          <div class="conteiner-svg">
            <svg class="icon-svg stud" width="34" height="39">
              <use href="./images/icons/sprite.svg#icon-student"></use>
            </svg>
          </div>
          <h2 class="title-icon">Адаптированная авторская программа ВНО</h2>
        </li>
        <li class="icon-box">
          <div class="conteiner-svg">
            <svg class="icon-svg mob" width="40" height="41">
              <use href="./images/icons/sprite.svg#icon-mobile"></use>
            </svg>
          </div>
          <h2 class="title-icon">Современные методики обучения</h2>
        </li>
        <li class="icon-box">
          <div class="conteiner-svg">
            <svg class="icon-svg doll" width="35" height="40">
              <use href="./images/icons/sprite.svg#icon-insurance"></use>
            </svg>
          </div>
          <h2 class="title-icon">Финансовая гарантия результата</h2>
        </li>
      </ul>
    </div>
  </div>
</section>
