<!--Шапка-->
<header class="page-header container">
  <a href="./index.html" class="logo">
    <span class="title-label" leng="en">Hell</span>
    <img src="" alt="" />
    <span class="" leng="en">En</span>
    <span>Адский английский</span>
  </a>
  <div class="navigation">
    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        width="24"
        height="24"
        fill="black"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="icon-close"
          href="./images/icons/sprite.svg#icon-close"
        ></use>
        <use class="icon-menu" href="./images/icons/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <div class="menu-container" id="menu-container" data-menu>
      <nav class="menu-nav">
        <ul class="site-nav list">
          <li class="item">
            <a href="#aboutus">Программа обучения</a>
          </li>
          <li class="item">
            <a href="./index.html" class="link current">О нас</a>
          </li>
          <li class="item">
            <a href="#options" class="link hover-line">Варианты обучения</a>
          </li>
          <li class="item">
            <a href="#contacts" class="link hover-line">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
