<section class="section section-black problems">
  <div class="container">
    <div class="title-box">
      <h2 class="title-white modified">
        Главные проблемы учеников на English ВНО, которые мы
        <span class="problems-help">помогаем</span> решить
      </h2>
      <img
        class="fire-background"
        src="./images/icons/fire-background.svg"
        alt="Пламя"
        width="445"
        height="472"
      />
      <div class="problems-box">
        <ul class="problem-list list">
          <li class="problem-item">
            <h3 class="line-lable">01</h3>
            <p>Название грамматики</p>
          </li>
          <li class="problem-item">
            <h3 class="line-lable">02</h3>
            <p>Неумение воспринимать устную английскую речь</p>
          </li>
          <li class="problem-item">
            <h3 class="line-lable">03</h3>
            <p>Скупой словарный запас для написания сочинения</p>
          </li>
          <li class="problem-item">
            <h3 class="line-lable">04</h3>
            <p>Подготовка в одиночку</p>
          </li>
          <li class="problem-item">
            <h3 class="line-lable">05</h3>
            <p>Отсутствие единого ресурса знаний</p>
          </li>
          <li class="problem-item">
            <h3 class="line-lable">06</h3>
            <p>Недостаток самоорганизации и лень</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
