<section class="section problems">
  <div class="title-box">
    <h2 class="title-white modified">
      Главные проблемы учеников на English ВНО, которые мы
      <span class="problems-help">помогаем</span> решить
    </h2>
  </div>
  <div class="problems-box">
    <ul class="problem-list list">
      <li class="problem-item">
        <h3>— 01</h3>
        <p>Название грамматики</p>
      </li>
      <li class="problem-item">
        <h3>— 02</h3>
        <p>Неумение воспринимать устную английскую речь</p>
      </li>
      <li class="problem-item">
        <h3>— 03</h3>
        <p>Скупой словарный запас для написания сочинения</p>
      </li>
      <li class="problem-item">
        <h3>— 04</h3>
        <p>Подготовка в одиночку</p>
      </li>
      <li class="problem-item">
        <h3>— 05</h3>
        <p>Отсутствие единого ресурса знаний</p>
      </li>
      <li class="problem-item">
        <h3>— 06</h3>
        <p>Недостаток самоорганизации и лень</p>
      </li>
    </ul>
  </div>
</section>
