<section class="program-section">
  <div class="container-temporary">
    <h2 class="program title">Наша программа</h2>
    <div class="program-container">
      <ul class="program">
        <li class="program list line">
          <h3 class="program-element">1 семестр</h3>

          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Grammar</p>
                <li class="description list">Nouns & Articles</li>
                <li class="description list">Adjectives & Adverb</li>
              </ul>
            </div>

            <div class="description">
              <ul>
                <p class="program-paragraph">— Vocabulary</p>
                <li class="description list">Family & Relations</li>
                <li class="description list">People & Society</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element">2 семестр</h3>
          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Grammar</p>

                <li class="description list">Pronouns</li>
                <li class="description list">Active Voice</li>
                <li class="description list">Passive Voice</li>
              </ul>
            </div>
            <div class="description">
              <ul>
                <p class="program-paragraph">— Vocabulary</p>

                <li class="description list">Home</li>
                <li class="description list">School</li>
                <li class="description list">Work</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element">3 семестр</h3>
          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Grammar</p>

                <li class="description list">Modal verbs</li>
                <li class="description list">Infinitive</li>
                <li class="description list">Gerund</li>
                <li class="description list">Participle: 1, 2</li>
              </ul>
            </div>
            <div class="description">
              <ul>
                <p class="program-paragraph">— Vocabulary</p>

                <li class="description list">Travel & Tourism</li>
                <li class="description list">Culture & Free Time</li>
                <li class="description list">Sport</li>
              </ul>
            </div>
            <div class="description">
              <ul>
                <p class="program-paragraph">— Writing</p>
                <li class="description list">Informal Letter</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element">4 семестр</h3>
          <div class="program-block">
            <ul class="description">
              <p class="program-paragraph">— Grammar</p>

              <li class="description list">Clauses: Conditional and</li>
              <li class="description list">Wishes</li>
              <li class="description list">Direct / Reported speech</li>
              <li class="description list">Preposition</li>
              <li class="description list">Conjunction</li>
              <li class="description list">Numeral</li>
            </ul>
            <div class="description">
              <ul class="description">
                <p class="program-paragraph">— Vocabulary</p>

                <li class="description list">Healthy Living</li>
                <li class="description list">Nature & Environment</li>
                <li class="description list">Money</li>
              </ul>
            </div>
            <div class="program-block">
              <ul>
                <p class="program-paragraph">— Writing</p>

                <li class="description list">Formal Letter</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element">5 семестр</h3>
          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Test</p>
                <li class="description list">Revision</li>
                <li class="description list">Tests</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
