<section class="section section-program section-black" id="program">
  <div class="container">
    <h2 class="program title">Наша программа</h2>
    <div class="program-container">
      <picture class="background-photo">
        <source
          srcset="
            ./images/desktop/program/desktop-program@1x.png 1x,
            ./images/desktop/program/desktop-program@2x.png 2x
          "
          media="(min-width:1314px)"
        />
        <source
          srcset="
            ./images/tablet/program/tablet-program@1x.png 1x,
            ./images/tablet/program/tablet-program@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/mobile/program/mobile-program@1x.png 1x,
            ./images/mobile/program/mobile-program@2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./images/mobile/program/mobile-program@1x.png"
          alt="Елена Морева"
          srcset="./images/mobile/program/mobile-program@2x.png 2x"
        />
      </picture>
      <ul class="program">
        <li class="program list line">
          <h3 class="program-element"><span class="number">1</span> семестр</h3>

          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Grammar</p>
                <li class="description list">Nouns & Articles</li>
                <li class="description list">Adjectives & Adverb</li>
              </ul>
            </div>

            <div class="description">
              <ul>
                <p class="program-paragraph">— Vocabulary</p>
                <li class="description list">Family & Relations</li>
                <li class="description list">People & Society</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element"><span class="number">2</span> семестр</h3>
          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Grammar</p>

                <li class="description list">Pronouns</li>
                <li class="description list">Active Voice</li>
                <li class="description list">Passive Voice</li>
              </ul>
            </div>
            <div class="description">
              <ul>
                <p class="program-paragraph">— Vocabulary</p>

                <li class="description list">Home</li>
                <li class="description list">School</li>
                <li class="description list">Work</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element"><span class="number">3</span> семестр</h3>
          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Grammar</p>

                <li class="description list">Modal verbs</li>
                <li class="description list">Infinitive</li>
                <li class="description list">Gerund</li>
                <li class="description list">Participle: 1, 2</li>
              </ul>
            </div>
            <div class="description">
              <ul>
                <p class="program-paragraph">— Vocabulary</p>

                <li class="description list">Travel & Tourism</li>
                <li class="description list">Culture & Free Time</li>
                <li class="description list">Sport</li>
              </ul>
            </div>
            <div class="description">
              <ul>
                <p class="program-paragraph">— Writing</p>
                <li class="description list">Informal Letter</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element"><span class="number">4</span> семестр</h3>
          <div class="program-block">
            <ul class="description">
              <p class="program-paragraph">— Grammar</p>

              <li class="description list">Clauses: Conditional and</li>
              <li class="description list">Wishes</li>
              <li class="description list">Direct / Reported speech</li>
              <li class="description list">Preposition</li>
              <li class="description list">Conjunction</li>
              <li class="description list">Numeral</li>
            </ul>
            <div class="description">
              <ul class="description">
                <p class="program-paragraph">— Vocabulary</p>

                <li class="description list">Healthy Living</li>
                <li class="description list">Nature & Environment</li>
                <li class="description list">Money</li>
              </ul>
            </div>
            <div class="program-block">
              <ul>
                <p class="program-paragraph">— Writing</p>

                <li class="description list">Formal Letter</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="program list">
          <h3 class="program-element"><span class="number">5</span> семестр</h3>
          <div class="program-block">
            <div class="description">
              <ul>
                <p class="program-paragraph">— Test</p>
                <li class="description list">Revision</li>
                <li class="description list">Tests</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="program title hidden">Почему нас выбирают</h2>
  <div class="method container">
    <ul class="method list">
      <li class="metod-item">
        <h4 class="line-lable-program">01</h4>
        <p>Обучение в малых командах</p>
      </li>

      <li class="metod-item">
        <h4 class="line-lable-program">02</h4>
        <p>Визуализированные конспекты</p>
      </li>

      <li class="metod-item">
        <h4 class="line-lable-program">03</h4>
        <p>Каждое занятие имеет цель и конкретный результат</p>
      </li>

      <li class="metod-item">
        <h4 class="line-lable-program">04</h4>
        <p>Реальные результаты преподавателя</p>
      </li>

      <li class="metod-item">
        <h4 class="line-lable-program">05</h4>
        <p>Прогамма курса соответствует требованиям МОН Украины</p>
      </li>

      <li class="metod-item">
        <h4 class="line-lable-program">06</h4>
        <p>Набор команд по уровням знаний</p>
      </li>
    </ul>
  </div>
</section>
