<!-- Секция Отзывы выпускников -->
<section class="section section-reviews">
  <h2 class="reviews-title">Отзывы выпускников</h2>
  <div class="container-reviews">
    <button class="button-arrow-left"></button>
    <div class="review-block">
      <div class="review-person">
        <picture class="review-photo">
          <source
            srcset="
              ./images/desktop/Girls/tonya.jpg    1x,
              ./images/desktop/Girls/tonya@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:1314px)"/>
          <source
            srcset="
              ./images/tablet/Girls/tonya.jpg    1x,
              ./images/tablet/Girls/tonya@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/Girls/tonya.jpg    1x,
              ./images/mobile/Girls/tonya@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width:767px)"
          />
          <img
            src="./images/desktop/Girls/tonya.jpg"
            alt="Фото Тоня"
            width="150"
          />
        </picture>
        <a
          href="https://vk.com/"
          class="social-icons-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="ссылка vk"
        >
          <svg class="social-icon" width="30" height="30">
            <use href="./images/icons/sprite.svg#icon-vk"></use>
          </svg>
        </a>
      </div>
      <div class="reviews-content">
        <h3 class="reviews-subtitle">Тоня Кучеровская</h3>
        <p class="reviews-secondary-text">
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
        <div class="review-text">
          <p>
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <span class="accent-text">Читать дальше</span>
          </p>
        </div>
      </div>
    </div>
    <button class="button-arrow-right"></button>
  </div>
  <div class="reviews-list list">
    <ul class="reviews-names list">
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-one.jpg"
          alt="Girl one"
          width="54"
        />
      </li>
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-two.jpg"
          alt="Girl two"
          width="54"
        />
      </li>
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-three.jpg"
          alt="Girl three"
          width="54"
        />
      </li>
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-four.jpg"
          alt="Girl four"
          width="54"
        />
      </li>
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-five.jpg"
          alt="Girl five"
          width="54"
        />
      </li>
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-six.jpg"
          alt="Girl six"
          width="54"
        />
      </li>
      <li class="reviews-item">
        <img
          class="girl-photo"
          src="./images/desktop/Girls/girl-seven.jpg"
          alt="Girl seven"
          width="54"
        />
      </li>
    </ul>
  </div>
</section>
