<section class="teacher-section">
  <div class="container">
    <div><h1 class="title">Преподаватель</h1></div>
    <div class="teacher-achievement">
      <h2 class="teacher-title">Елена Морева</h2>
      <ul class="result-work list">
        <li class="teacher-achievement-item">
          Опыт подготовки учеников к ВНО - 6 лет
        </li>
        <li class="teacher-achievement-item">
          Собственный результат сдачи ВНО - 197 баллов 2 года подряд
        </li>
        <li class="teacher-achievement-item">
          Сдала на отлично международный аналог ВНО - Кембриджский
          PET(Preliminary English Test)
        </li>
        <li class="line-lable"></li>
      </ul>
      <p class="about-teacher">
        Высшее образование получила в Институте международных отношений НАУ по
        специальности переводчик-аналитик.
      </p>
      <p class="about-teacher">
        В свободное время проходит курсы от лучших университетов мира по
        эффективному преподаванию и методикам написания сочинений.
      </p>
      <p class="about-teacher">
        В числе пройденных: English Grammar and Essay Writing (Berkeley),
        English Grammar&Style (The University of Queesland), How to Write an
        Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of
        Teaching (GEMS education), Powerful Tools for Teaching and Learning
        (University of Houston).
      </p>
      <a class="certificate-link" href=""
        >Cambrige English Entry Level Certificate</a
      >
    </div>
  </div>
</section>
