<section class="section why-us">
  <h2 class="program title visually-hidden">Почему нас выбирают</h2>
  <ul class="method">
    <p class="line-label">— 01</p>
    <li>Обучение в малых командах</li>
    <p class="line-label">— 02</p>
    <li>Визуализированные конспекты</li>
    <p class="line-label">— 03</p>
    <li>Каждое занятие имеет цель и конкретный результат</li>
    <p class="line-label">— 04</p>
    <li>Реальные результаты преподавателя</li>
    <p class="line-label">— 05</p>
    <li>Прогамма курса соответствует требованиям МОН Украины</li>
    <p class="line-label">— 06</p>
    <li>Набор команд по уровням знаний</li>
  </ul>
</section>
