.button {
  display: inline-block;
  text-align: center;

  min-width: 260px;
  min-height: 48px;
  padding: 17px 5px;

  color: $white-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: $accent-color;
  background-color: $background-secondary-color;
}

.button-consult {
  color: $accent-color;
  background-color: $background-white-color;
  border: 2px solid $accent-color;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    color: $accent-color;
    background-color: $background-secondary-color;
  }

  @include for-size(desktop) {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    height: 70px;
    width: 336px;
    padding-left: 24px;

    color: #ff6b09;
  }
}
