button,
button:active,
button:focus,
button:hover {
  outline: none;
  border: none;
}

.button {
  display: inline-block;
  text-align: center;

  min-width: 260px;
  min-height: 48px;
  padding: 17px 5px;

  color: $white-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: $accent-color;
  background-color: #fff;
}

.button-consult {
  color: $accent-color;
  background: transparent;
  border: 2px solid $accent-color;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    color: $accent-color;
    background-color: #fff;
  }

  @include for-size(tablet-landscape) {
    display: none;
  }

  @include for-size(desktop) {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    height: 70px;
    width: 336px;
    padding-left: 24px;
    background-color: $background-white-color;

    color: #ff6b09;
  }
}

.button-consult.tablet {
  display: none;

  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: center;
  }
  @include for-size(desktop) {
    display: none;
  }
}

//footer button
.btn-submit {
  @include for-size(mobile-only) {
    margin-top: 30px;
  }

  @include for-size(tablet-landscape) {
    margin-top: 10px;
  }

  @include for-size(tablet-only) {
    width: 260px;
    height: 48px;
    font-size: 12px;
    line-height: 1.25;
  }

  @include for-size(desktop) {
    margin-top: 50px;
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 1.214;
  }
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
  background-color: $accent-color;
  color: $white-text-color;
  border: 1px solid $accent-color;

  transition: color $time-transition-duration $timing-function-cubic,
    background-color $time-transition-duration $timing-function-cubic;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $background-white-color;
  }
}
