.registration-form {
    width: 100%;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .input-field-footer {
      @include for-size(mobile-only) {
          min-width: 280px;
          font-size: 14px;
          line-height: 1.214;
          &:not(:last-child) {
            margin-bottom: 20px;
        }    
      }
  
      @include for-size(tablet-landscape) {
          min-width: 390px;
          font-size: 14px;
          line-height: 1.214; 
          &:not(:last-child) {
            margin-bottom: 20px;
        }
      }
  
      @include for-size(desktop) {
          min-width: 478px;
          height: 70px;
          padding-left: 40px;
          font-size: 20px;
          line-height: 1.2;
          &:not(:last-child) {
            margin-bottom: 30px;
        }
      }
      color: $white-text-color;
      height: 48px;
      padding-left: 28px;
      background: transparent;
      border: 1px solid $background-white-color;
      transition: border-radius $time-transition-duration $timing-function-cubic;
         
      
          &::placeholder {
              @include for-size(tablet-only) {
                  font-size: 14px;
                  line-height: 1.214;
              }
  
              @include for-size(desktop) {
                  font-size: 20px;
                  line-height: 1.2;
              }
              font-weight: 600;
              color: $white-text-color;
              letter-spacing: 0.08em;
          }
          &:hover,
          &:focus {
              border-radius: 2px;
          }
  
          &:valid:not(:placeholder-shown) {
              border: 1px solid #008000;
          }
  
          &:invalid:not(:placeholder-shown) {
              border: 1px solid #ff0000;
          }
  }