.logo-img {
  width: 80px;
  @include for-size(tablet-landscape) {
    width: 128px;
  }
}

.menu-button {
  z-index: 101;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-menu {
    display: none;
  }
  @include for-size(tablet-landscape) {
    margin-left: 40px;
  }

  @include for-size(desktop) {
    display: none;
  }
}

.menu-container {
  display: none;

  &.is-open {
    display: block;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    padding-left: 20px;
    padding-top: 31px;
    padding-right: 20px;
    padding-bottom: 222px;
    background: rgba(17, 21, 24, 0.9);

    & .logo-img {
      display: none;
    }

    & .logo-img-white {
      display: block;
      width: 80px;

      @include for-size(tablet-landscape) {
        width: 128px;
      }
    }
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-nav {
  @include for-size(tablet-landscape) {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    padding-left: 20px;
  }
}

.site-nav {
  margin-bottom: 50px;
  @include for-size(tablet-landscape) {
    display: flex;
    flex-direction: column;
    padding-left: 218px;
  }

  @include for-size(desktop) {
    display: flex;
    width: 648px;
    height: 17px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-right: 60px;
    flex-direction: row;
    padding-left: 0;
  }
}

.item-nav .link {
  margin-bottom: 17px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $white-text-color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @include for-size(desktop) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0em;
    color: $secondary-text-color;
    text-transform: uppercase;
  }
}

/*.item-nav {
  @include for-size(tablet-landscape) {
    align-self: center;
  }
}*/

.is-open-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    padding-right: 20px;
    margin-bottom: 85px;
    padding-top: 1px;
  }

  @media (min-width: 1314px) {
    display: none;
  }
}

.icon-cross {
  fill: #fff;
}

/*.hover-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: $accent-color;

  transform: scaleX(0);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-line:hover::after,
.hover-line:focus::after {
  transform: scaleX(1);
}*/

/*.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-color;
}
*/
