* {
  margin: 0;
  padding: 0;
}

.program-container {
  position: relative;
  padding-left: 80px;

  @media screen and (max-width: 767.9px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 110px;
    margin-bottom: 189px;
  }
  @media screen and (min-width: 1314px) {
    padding-left: 0px;
    margin-bottom: 164px;
  }
}
.program.title.hidden {
  text-align: start;
  margin-bottom: 30px;
  @media screen and (max-width: 767.9px) {
    width: 180px;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1314px) {
    display: none;
  }
}
.program.title {
  font-family: 'Montserrat';
  text-align: center;
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;

  color: #ffffff;

  line-height: 130%;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    text-align: start;
    font-size: 26px;
  }
  @media screen and (min-width: 1314px) {
    margin-bottom: 160px;

    font-size: 46px;

    letter-spacing: 0.03em;

    color: #ffffff;
  }
}

.program {
  position: relative;

  @media screen and (min-width: 1314px) {
    display: flex;
  }
}

.program.list {
  @media screen and (max-width: 767.9px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 1313.9px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1314px) {
    display: block;
    margin-right: 30px;
    width: 240px;
  }
}
.program.list.line::before {
  position: absolute;
  content: '';
  display: block;
  top: 10px;
  left: -25px;
  width: 1px;
  height: 1115px;

  background-color: white;
  border: 1px solid #ffffff;
  @media screen and (min-width: 768px) {
    height: 690px;
  }
  @media screen and (min-width: 1314px) {
    height: 0;
    width: 100vw;
    left: calc((1314px / 2) - 50vw);
    top: -45px;
  }
}
.program.list::after {
  position: absolute;
  content: '';
  top: 8px;
  left: -30px;
  width: 12px;

  height: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
  @media screen and (min-width: 1314px) {
    top: -50px;
    left: 0px;
  }
}
.program-element {
  font-family: 'Montserrat';
  margin-bottom: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 1314px) {
    font-size: 20px;
    line-height: 93%;
  }
}
.number {
  @media screen and (min-width: 1314px) {
    font-size: 30px;
    line-height: 93%;
  }
}

.program-block {
  @media screen and (min-width: 768px) {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1314px) {
    display: block;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    /* identical to box height, or 93% */

    letter-spacing: 0.08em;

    color: #ffffff;
  }
}

.program-paragraph {
  margin-bottom: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 167%;

  align-items: center;
  letter-spacing: 0.08em;

  color: #ff6b09;

  @media screen and (min-width: 1314px) {
    font-size: 20px;
    line-height: 164.9%;
  }
}
.description {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.description.list {
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;

  letter-spacing: 0.08em;

  color: #b9b9b9;
  opacity: 0.5;
  @media screen and (min-width: 768px) {
    width: 176px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1314px) {
    width: 240px;
    font-size: 18px;
    line-height: 28px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }
}

.method.container {
  position: relative;
  padding: 20px 30px;
  background-color: $background-white-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 768px) {
    padding: 30px 98px;
  }
  @media screen and (min-width: 1314px) {
    padding: 50px 82px;
  }
}
.background-photo {
  position: absolute;
  @media screen and (min-width: 320px) {
    bottom: -105px;
    right: -23px;
  }
  @media screen and (min-width: 768px) {
    bottom: -142px;
    right: -49px;
  }

  @media screen and (min-width: 1314px) {
    top: 312px;
    left: -174px;
  }
}
.method.list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.line-lable {
  margin-bottom: 10px;
}
.metod-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.08em;

  color: #111518;

  @media screen and (max-width: 767.9px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin: 20px;
    width: calc((100% - 4 * 20px) / 2);
  }
  @media screen and (min-width: 1314px) {
    width: calc((100% - 6 * 20px) / 3);

    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
}
