.title {
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
}

.title-white {
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.title-hero {
  font-weight: 800;
  font-size: 58px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
}

.line-lable {
  display: inline-flex;
  // align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: $accent-color;
}

.line-lable:before {
  content: ' ';
  display: block;
  width: 20px;
  height: 2px;
  margin-top: 11px;
  margin-right: 5px;
  background-color: currentColor;
  /*margin-right: 20px;
  margin-top: 7px;*/

  @include for-size(desktop) {
    margin-top: 0;
  }
}

.line-lable-program {
  display: inline-flex;
  // align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: $accent-color;
}

.line-lable-program:before {
  content: ' ';
  display: block;
  width: 20px;
  height: 2px;
  margin-top: 11px;
  margin-right: 5px;
  background-color: currentColor;
}
