.container {
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile-only) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include for-size(desktop) {
    width: 1316px;
  }
}
