.footer-registration.section {
  padding: 0px;
  @include for-size(mobile-only) {
    background-image: url(../images/mobile/footer/footer.png),
      linear-gradient(to right, rgba(17, 21, 24), rgba(17, 21, 24));
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/mobile/footer/footer@2x.png),
        linear-gradient(to right, rgba(17, 21, 24), rgba(17, 21, 24));
    }
  }

  @include for-size(tablet-landscape) {
    background-image: url(../images/tablet/footer/footer.png),
      linear-gradient(to right, rgba(17, 21, 24), rgba(17, 21, 24));
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/tablet/footer/footer@2x.png),
        linear-gradient(to right, rgba(17, 21, 24), rgba(17, 21, 24));
    }
  }

  @include for-size(desktop) {
    background-image: url(../images/desktop/footer/footer.png),
      linear-gradient(to right, rgba(17, 21, 24), rgba(17, 21, 24));
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/footer/footer@2x.png),
        linear-gradient(to right, rgba(17, 21, 24), rgba(17, 21, 24));
    }
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
}

.registration {
  text-align: center;
  @include for-size(mobile-only) {
    padding-bottom: 50px;
  }

  @include for-size(tablet-only) {
    padding-top: 50px;
  }

  @include for-size(tablet-landscape) {
    padding-bottom: 70px;
  }

  @include for-size(desktop) {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.footer-contacts {
  @include for-size(mobile-only) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @include for-size(tablet-only) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include for-size(desktop) {
    display: flex;
  }
}

.contacts {
  box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
  padding-top: 50px;
  padding-bottom: 50px;
}

.registration-tittle {
  @include for-size(mobile-only) {
    font-size: 14px;
    line-height: 136%;
  }

  @include for-size(tablet-landscape) {
    font-size: 26px;
  }

  @include for-size(desktop) {
    font-size: 46px;
    margin-bottom: 50px;
  }

  margin: 0;
  margin-bottom: 30px;
  font-weight: 800;
  line-height: 130%;
  color: $white-text-color;
}

.registration-description {
  @include for-size(mobile-only) {
    font-size: 12px;
    line-height: 1.25;
  }

  @include for-size(tablet-landscape) {
    padding: 0 118px;
    font-size: 14px;
    line-height: 1.214;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.233;
    margin-bottom: 56px;
  }

  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: $white-text-color;
}

.footer-logo-box {
  @include for-size(mobile-only) {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.footer-item {
  @include for-size(mobile-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include for-size(desktop) {
    margin-left: 250px;
  }
}

.icon-instagram {
  width: 40px;
  height: 40px;
}

.copyright {
  @include for-size(mobile-only) {
    text-align: center;
  }
  background-color: $background-black-color;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: $secondary-text-color;
}

.color-accent-text {
  color: $accent-color;
}

.phone-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  font-weight: 600;
  letter-spacing: 0.08em;
  transition: color $time-transition-duration $timing-function-cubic;
  @include for-size(mobile-only) {
    font-size: 14px;
    line-height: 1.214;
  }

  @include for-size(tablet-landscape) {
    font-size: 20px;
    line-height: 1.2;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.233;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-phone {
  fill: $accent-color;
  margin-right: 10px;

  @include for-size(mobile-only) {
    width: 20px;
    height: 19px;
  }

  @include for-size(tablet-landscape) {
    width: 24px;
    height: 23px;
  }

  @include for-size(desktop) {
    width: 30px;
    height: 28px;
  }
}

.phone-box {
  @include for-size(mobile-only) {
    margin-bottom: 20px;
  }
  @include for-size(tablet-landscape) {
    margin-right: 24px;
  }
}

.phone-box,
.instagram-box {
  @include for-size(mobile-only) {
    display: inline-flex;
    justify-content: center;
  }
}

.instagram-link {
  height: 40px;
  display: inline-flex;
  justify-content: center;
  @include for-size(tablet-landscape) {
    &::before {
      content: '';
      border-right: 1px solid $secondary-text-color;
      height: 100%;
      margin-right: 24px;
    }
  }
}
