.container-guarantee {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.guarantee-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #3d3d3d;
  margin-bottom: 20px;
}

.guarantee-list {
  background-color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-right: 112px;
  padding-left: 112px;
}

.separate-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  color: #ff6b09;
}
