.title-hero{
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.03em;
color:$main-text-color;
}

.grey-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    
    color: $secondary-text-color;
}


.black-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    
    color:$main-text-color;  
}


.orang-title{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.08em;

color: $accent-color;


.free-lesson{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
color: $white-text-color;
width: 260px;
height: 48px;
background: $accent-color;
}

.title-icon{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.08em;

color: $main-text-color;
}

.conteiner-svg{
    border: 2px solid $accent-color;

}