.title-hero {
  @include for-size(mobile-only) {
    font-size: 20px;
    line-height: 27px;
    margin-top: 50px;
    margin-bottom: 27px;
  }

  @include for-size(tablet-landscape) {
    font-size: 26px;
    line-height: 34px;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  @include for-size(desktop) {
    font-size: 58px;
    line-height: 75px;
    margin-top: 125px;
    margin-bottom: 24px;
  }

  font-weight: 800;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.grey-title {
  @include for-size(desktop) {
    font-size: 20px;
    line-height: 33px;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: $secondary-text-color;
}

.black-title {
  @include for-size(tablet-landscape) {
    width: 75%;
  }

  @include for-size(desktop) {
    font-size: 20px;
    line-height: 33px;
    width: 100%;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: $main-text-color;
}

.orang-title {
  @include for-size(desktop) {
    font-size: 20px;
    line-height: 33px;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.08em;
  color: $accent-color;
}

.free-lesson {
  @include for-size(desktop) {
    min-width: 354px;
    min-height: 70px;
    padding: 26px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.14em;
    margin-top: 40px;
    margin-bottom: 97px;
  }

  @include for-size(tablet-landscap) {
    margin-bottom: 97px;
  }

  margin-top: 33px;
  margin-bottom: 34px;
  display: inline-block;
  text-align: center;

  min-width: 260px;
  min-height: 48px;
  padding: 17px 5px;

  color: $white-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1),
    250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: $accent-color;
  background-color: #ffffff;
}

.title-icon {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: $main-text-color;
  margin-left: 10px;
  width: 50%;

  @include for-size(tablet-landscape) {
    width: 75%;
  }
  @include for-size(desktop) {
    font-size: 20px;
    line-height: 33px;
    /*margin-top: 18px;*/
    margin-left: -18px;
  }

  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: $main-text-color;
  margin-left: 10px;
  width: 50%;
}

.conteiner-svg {
  @include for-size(desktop) {
    width: 100px;
    height: 102px;
  }

  border: 2px solid $accent-color;
  border-right: none;
  width: 60px;
  height: 60px;
  position: relative;
}

.conteiner-svg::after {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 10px;
  right: 0;
  top: -1px;
  background-color: $accent-color;
}

.conteiner-svg::before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 10px;
  right: 0;
  bottom: -1px;
  background-color: $accent-color;
}

.icon-svg {
  fill: $accent-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.stud {
  @include for-size(desktop) {
    width: 50px;
    height: 58px;
  }
}

.mob {
  @include for-size(desktop) {
    width: 56px;
    height: 57px;
  }
}

.doll {
  @include for-size(desktop) {
    width: 52px;
    height: 58px;
  }
}

.icon-box {
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  display: flex;

  @include for-size(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.flex-hero {
  @include for-size(tablet-landscape) {
    display: flex;
    align-items: center;
  }

  @include for-size(desktop) {
    display: flex;
    align-items: center;
  }
}

.fon {
  position: absolute;
  margin-left: 56px;
  left: 0px;
  right: 0px;
  top: -10px;
}

.fon-one {
  margin-left: 35px;
}

.icon-list {
  margin-top: 50px;

  @include for-size(tablet-landscape) {
    margin-top: 88px;
    display: flex;
  }

  @include for-size(desktop) {
    margin-top: 192px;
    margin-bottom: 47px;
  }
}

section.hero {
  padding-top: 0;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -60px;
  background-image: url(../images/mobile/hero/heromobile.png);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/mobile/hero/heromobile@2x.png);
  }

  @include for-size(tablet-landscape) {
    background-position-y: 55px;
    background-image: url(../images/desktop/hero/Vector@1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/hero/Vector@2x.png);
    }
  }
  @include for-size(desktop) {
    background-position-y: -90px;
    background-image: url(../images/desktop/hero/Vector@1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/hero/Vector@2x.png);
    }
  }
}

.container-hero-fon {
  @include for-size(mobile-only) {
    position: relative;
  }
}

.imageone {
  background-repeat: no-repeat;
  background-size: contain;
  width: 208px;
  height: 148px;
  display: block;
  margin: auto;

  @media screen and (max-width: 767px) {
    background-image: url('../images/mobile/hero/vno-mobile@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/mobile/hero/vno-mobile@2x.png');
    }
  }

  @media screen and (min-width: 768px) {
    width: 375px;
    height: 320px;
    position: relative;
    top: 40px;
    background-image: url('../images/tablet/hero/vno-tablet@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/tablet/hero/vno-tablet@2x.png');
    }
  }

  @include for-size(desktop) {
    width: 841px;
    height: 718px;
    position: absolute;
    top: 39px;

    background-image: url('../images/desktop/hero/vno-desktop@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/hero/vno-desktop@2x.png');
    }
  }
}
