.section.problems {
  position: relative;
  //height: 715px;
  /*margin-bottom: 50px;*/
  background: linear-gradient(
    $background-black-color 78%,
    $background-white-color 22%
  );

  @include for-size(tablet-landscape) {
    //height: 491px;
  }

  @include for-size(desktop) {
    //height: 710px;
    /*margin-bottom: 130px;*/
  }
}

.title-box {
  //position: relative;
  width: 100%;
  //height: 545px;

  /*padding-top: 50px;*/
  text-align: start;

  @include for-size(tablet-landscape) {
    //height: 340px;
    /* padding-top: 60px;*/
  }

  @include for-size(desktop) {
    //height: 560px;
    /* padding-top: 100px;*/
    //padding-left: 183px;
  }
}

.title-white {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: $white-text-color;
}

.title-white.modified {
  font-family: 'Montserrat';
  font-style: normal;
  margin-bottom: 27px;

  @include for-size(tablet-landscape) {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    width: 450px;
  }

  @include for-size(desktop) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    width: 856px;
    margin-bottom: 80px;
  }
}

.problems-help {
  color: $accent-color;
}

.fire-background {
  @include for-size(tablet-only) {
    display: none;
  }
  @include for-size(desktop) {
    position: absolute;
    bottom: 22%;
    right: 0;
  }
}

.problems-box {
  position: relative;
  //top: 205px;
  //left: 20px;
  //right: 20px;
  //z-index: 2;
  /*width: calc (100% - 40);*/
  //height: 488px;
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 20px;
  padding-left: 30px;
  background: $white-text-color;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @include for-size(tablet-landscape) {
    //top: 188px;
    //left: 40px;
    //right: 40px;
    /*width: calc (100% - 80);*/
    padding: 0;
  }

  @include for-size(desktop) {
    //top: 348px;
    //left: 40px;
    //right: 40px;
    /*width: calc (100% - 366);*/
  }
}

.problem-list {
  display: block;

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-right: 109px;
    padding-bottom: 26px;
    padding-left: 96px;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-right: 112px;
    padding-bottom: 62px;
    padding-left: 114px;
  }
}

.problem-item {
  overflow: hidden;
  word-break: break-word;

  @include for-size(tablet-landscape) {
    display: block;
    //width: 236px;
    width: calc((100% - 22px) / 2);
  }

  @include for-size(desktop) {
    display: block;
    //width: 336px;
    //height: 99px;
    width: calc((100% - 40px * 2) / 3);
  }
}

.problem-item:nth-child(-n + 4) {
  @include for-size(tablet-landscape) {
    margin-bottom: 10px;
  }

  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

.problem-item:nth-child(2n + 1) {
  @include for-size(tablet-landscape) {
    margin-right: 22px;
  }

  @include for-size(desktop) {
    margin-right: 0;
  }
}

.problem-item:not(:last-child) {
  @include for-size(mobile-only) {
    margin-bottom: 10px;
  }
}

.problem-item:not(:nth-child(3n)) {
  @include for-size(desktop) {
    margin-right: 40px;
  }
}

.problem-item:nth-child(-n + 3) {
  @include for-size(desktop) {
    margin-bottom: 32px;
  }
}

.problem-item > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: $accent-color;
  margin-top: 0;
  margin-bottom: 5px;

  @include for-size(desktop) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
  }
}

.problem-item > p {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 0;

  @include for-size(desktop) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
  }
}
