.section-program {
  background: linear-gradient(#111518 85%, #ffffff 85%);
  /*padding: 50px 20px;
  @media screen and (min-width: 1314px) {
    padding-top: 60px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1314px) {
    padding-top: 130px;
    margin-bottom: 130px;
  }*/
}

.section {
  position: relative;
  overflow: hidden;
  padding: 50px 20px;
  &-black {
    background: linear-gradient(#111518 85%, #ffffff 85%);
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    &-black {
      padding-top: 60px;
    }
  }

  @media screen and (min-width: 1314px) {
    padding-bottom: 130px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    &-black {
      padding-top: 100px;
      position: relative;
      background: linear-gradient(#111518 85%, #ffffff 85%);
    }
  }
}
