.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
}
.result-work {
  border-top: 1px solid $secondary-text-color;
}
.teacher-achievement-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: $main-text-color;
}
.about-teacher {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $secondary-text-color;
}
.certificate-link {
  color: $accent-color;
}
