.teacher {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  color: $main-text-color;
  /*margin-top: 39px;*/
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;

    font-size: 26px;
    font-weight: 800;
    line-height: 34px;

    @media screen and (min-width: 1314px) {
      font-size: 46px;
      line-height: 60px;
      margin-bottom: 30px;
    }
  }
}

.teacher-achievement {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.teacher-information {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
  @media screen and (min-width: 1314px) {
    width: 642px;
    height: 660px;
    margin-bottom: 0;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  padding-top: 20px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 15px;
  }
}
.result-work {
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid $secondary-text-color;
  @media screen and (min-width: 1314px) {
    padding-top: 30px;
  }
}
.teacher-achievement-item {
  position: relative;
  padding-left: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: $main-text-color;

  margin-bottom: 14px;
  @media screen and (min-width: 1314px) {
    font-size: 16px;
    line-height: 20px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &::before {
    display: block;
    content: '';
    width: 16px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/icons/SVG/check.svg);

    @media screen and (min-width: 1314px) {
      width: 25px;
      height: 20px;
    }
  }
}
.about-teacher {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $secondary-text-color;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1314px) {
    font-size: 18px;
    line-height: 28px;
  }
}
.certificate-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $accent-color;
  @media screen and (min-width: 1314px) {
    font-size: 18px;
    line-height: 28px;
  }
}
