<!--Шапка-->
<header class="page-header container">
  <div></div>
  <a href="./index.html" class="logo">
    <span class="" leng="en">Hell</span>
    <div class="svg"></div>
    <span class="" leng="en">En</span>
    <span>Адский английский</span>
  </a>
  <div class="navigation">
    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        width="24"
        height="24"
        fill="black"
        aria-label="Переключатель мобильного меню"
      >
        <use
          class="icon-cross"
          href="./image/icon/spritemenu.svg#icon-cross"
        ></use>
        <use
          class="icon-menu"
          href="./image/icon/spritemenu.svg#icon-menu"
        ></use>
      </svg>
    </button>
    <div class="menu-container" id="menu-container" data-menu>
      <nav class="menu-nav">
        <ul class="site-nav list">
          <li class="item">
            <a href="./index.html" class="link current">Студия</a>
          </li>
          <li class="item">
            <a href="#" class="link hover-line">Портфолио</a>
          </li>
          <li class="item">
            <a href="#contacts" class="link hover-line">Контакты</a>
          </li>
        </ul>
      </nav>
      <ul class="contacts list">
        <li class="contacts-item">
          <a class="link mail" href="mailto:info@devstudio.com">
            <svg class="icon-envelope" width="16" height="12">
              <use href="./image/icon/sprite.svg#icon-envelope"></use>
            </svg>
            info@devstudio.com
          </a>
        </li>
        <li class="contacts-item">
          <a class="link phone" href="tel:+380961111111">
            <svg class="icon-smartphone" width="10" height="16">
              <use href="./image/icon/sprite.svg#icon-smartphone"></use>
            </svg>
            +38 096 111 11 11
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
